*/*.pbs
*/*.pbs~
*/*.py~
output/
plots/
__pycache__/
*/.ipynb_checkpoints/
*/debug.ipynb
*/recycle/
NRD/Wenyi/hypertune/recycle/
NRD/hypertune/*.sh
NRD/hypertuen/*.pbs
NRD/Wenyi/hypertune/*.sh
NRD/Wenyi/hypertune/*.pbs
UC_colonoscopy/plots/